<div class="container">
  <div class="content-left">
    <div class="top">
      <div class="img">
      <img src="assets/images/vector.png" alt="vector" class="vector-img">
      <img src="assets/images/barcode.png" alt="barcode" class="barcode-img">
      </div>
      <img src="assets/images/vector1.png" alt="vector1" class="vector1-img">
    </div>
    <div class="middle">
      <div class="left-content">
        <h3>Best Billing Software</h3>
        <p class="para">Labo Bill Suite is a Web-based platform providing <br>centralized control 
          and efficient branch <br>management for businesses seeking to grow and stay connected</p>
        <img src="assets/images/round.png" alt="round" class="round-img">
      </div>
      <img src="assets/images/bill.png" alt="Billing" class="bill-img">
    </div>
    <div class="arrow">
      <img src="assets/images/arrow.png" alt="arrow" class="up">
      <img src="assets/images/down.png" alt="arrow" class="down">
    </div>
    <div class="left-bottom">
    <div class="bottom">
    <div class="pics">
      <img src="assets/images/vector2.png" alt="vector2" class="vector2-img">
      <img src="assets/images/vector3.png" alt="vector3" class="vector3-img">
      <img src="assets/images/vector4.png" alt="vector4" class="vector4-img">
    </div>
    <div class="circle">
      <img src="assets/images/vector5.png" alt="vector5" class="vector5-img">
    </div>
    </div>
    </div>
  </div>
  <div class="content-right">
  <div class="dots">
    <img class="dots-img" src="assets/images/dots.png" alt="dots">
  </div>
  <div class="labo">
    <img class="labo-img" src="assets/images/labo-bill.png" alt="pic">
  </div>
  <form class="center">
  <div class="login-form">
    <h1>Welcome back <mat-icon class="wave">waving_hand</mat-icon></h1>
    <h2> Smart Labo Bill Suite quicker and better </h2>
    <div class="login-text">
      <label>Your Email</label>
      <input matInput type="text" placeholder="John.snow@gmail.com" required><br><br>
    </div>
    <div class="login-password">
      <label>Password</label>
      <input matInput type="password" placeholder="**********" required><mat-icon matSuffix class="icon">https</mat-icon><br><br>
    </div>
    <div class="radio-password">
    <div class="radio">
      <input type="radio" id="color" name="radio1" value="Remember Me">
      <label for="color">Remember me</label>
    </div>
    <a href="#" class="now">Forgot Password?</a>
    </div>
    <div class="buttons">
    <button matButton class="btn">Login now</button><br>
    <button matButton class="btn btn1">SIGN UP</button><br>
    </div>
    </div>
    <div class="bottom-text">
      <p class="message"> Have any issue?<a href="" class="sample"> Contact support </a></p>
    </div>
    </form>
  </div>
</div>